argparse==1.4.0
bcrypt==3.1.6
Flask==1.0.3
Flask-Cors==3.0.6
Flask-JWT-Extended==3.24.1
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SocketIO==4.2.1
gevent==1.4.0
gunicorn==19.9.0
prompt-toolkit==1.0.14
psycopg2==2.8.3
psycopg2-binary==2.8.4
pytest==4.1.1
sqlalchemy-utils==0.34.0
requests==2.25.1
whaaaaat==0.5.2